name: Conda CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: false

      - name: Set up Conda and Create Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: false
          activate-environment: ECOFFitter
          environment-file: env.yml
          python-version: 3.11
          channels: conda-forge,defaults

      - name: Activate Conda environment and install ECOFFitter
        run: |
          pip install -e .

      - name: Verify Conda environment
        run: |
          conda info --all
          conda list

      - name: Run Pytest and Coverage
        run: |
          pytest --cov=ecoff_fitter tests/ --cov-report=xml:coverage.xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Debug Codecov Bash (Optional)
        run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}
