name: Build and Release to PyPI

on:
  release:
    types: [released, prereleased]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install package dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build pytest pytest-cov

      - name: Run tests with coverage
        run: |
          pytest --cov=ecoff_fitter --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build wheel and sdist
        run: python -m build --sdist --wheel --outdir dist/

      - name: Inspect built files
        run: ls -al dist/

      - name: Test install the built package
        run: pip install dist/*.whl

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
